.body-div{
    background-color: rgb(0, 0, 0);
    height: 88vh;
    display: flex;
    justify-content: space-between;
}

.body-center{
    display: flex;
    flex-direction: column;
    width: 38%;
    /* background-color: red; */
}
.body-center-up{
    display: flex;
    flex-direction: column;
    width: 38%;
    /* background-color: red; */
}

.body-center-up>span{
    color: white;
    font-weight: 650;
    font-size: xx-large;
    font-family: "PT Serif", serif;
    padding-left: 4rem;
}

.body-center-down {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 4rem;
}

.body-center-down> span{
    color: white;
    font-weight: 400;
    cursor: pointer;

}

.buttons-div{
    margin-top: 1rem;
    display: flex;
}

.buttons-div > button{
    margin-top: 1rem;
    height: 3rem;
    width: 10rem;
    border: 0.125rem solid white;
    font-size: larger;
    font-weight: 500;
    cursor: pointer;
}

.buttons-div> button:hover{
    width: 10.1rem;
    height: 3.05rem;
    transition: ease-out;
    font-weight: 550;
}

.btn2{
    margin-left: 2rem;
    background-color: black;
    color: white;
}

.body-name{
    padding-top: 14rem;
    padding-bottom: 1rem;
}

.body-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 4%;
    background-color: black;
}

.body-left > span > img{
    margin-left: 1.2rem;
    margin-bottom: 0.6rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
}
.body-left > span > img:hover{
  width: 1.7rem;
  height: 1.7rem;
}

.body-right{
    background-color: black;
    width: 55%;
    display: flex;
    justify-content: center;
}
